.contact-form1-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form1-image1 {
  flex: 1;
  width: 549px;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form1-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form1-section-title {
  gap: var(--dl-space-space-unit);
  height: 85px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form1-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form1-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form1-text2 {
  font-weight: 700;
}
.contact-form1-button {
  align-self: flex-start;
}
.contact-form1-action1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-form1-max-width {
    flex-direction: column;
  }
  .contact-form1-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form1-image1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .contact-form1-section-title {
    height: 79px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact-form1-text {
    width: 380px;
    height: auto;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 0px;
  }
}
