.contact-form4-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form4-image1 {
  flex: 1;
  width: 531px;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact-form4-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form4-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form4-text1 {
  font-weight: 700;
}
.contact-form4-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form4-text2 {
  font-weight: 700;
}
.contact-form4-text5 {
  font-weight: 700;
}
.contact-form4-text7 {
  color: #0a0aef;
  font-style: italic;
  font-weight: 700;
}
.contact-form4-button {
  align-self: flex-start;
}
.contact-form4-action1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .contact-form4-max-width {
    flex-direction: column;
  }
  .contact-form4-image1 {
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .contact-form4-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .contact-form4-image1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .contact-form4-text {
    width: 380px;
    height: auto;
    font-style: normal;
    text-align: left;
    font-weight: 400;
  }
  .contact-form4-text1 {
    font-weight: 700;
  }
  .contact-form4-text2 {
    font-style: italic;
    font-weight: 700;
  }
  .contact-form4-text4 {
    font-weight: 700;
  }
}
