<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Functional Joint Chough</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./max-width.css" rel="stylesheet" />
      <div class="max-width-max-width thq-section-max-width thq-flex-row">
        <img
          alt="Image1"
          src="https://images.unsplash.com/photo-1550376026-33cbee34f79e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODY3ODMxNXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=700"
          class="max-width-image1 thq-img-ratio-4-3"
        />
        <form class="max-width-form thq-card">
          <div class="max-width-container">
            <div class="max-width-container01">
              <div class="max-width-container02">
                <div class="max-width-container03">
                  <div class="max-width-container04">
                    <div class="max-width-container05">
                      <div class="max-width-container06">
                        <div class="max-width-container07">
                          <div class="max-width-container08">
                            <div class="max-width-container09">
                              <div class="max-width-container10">
                                <div class="max-width-container11">
                                  <div class="max-width-container12">
                                    <h2 class="thq-heading-2 max-width-text">
                                      <span>e-Services Registration</span>
                                    </h2>
                                    <div class="max-width-container13">
                                      <div class="max-width-container14">
                                        <div class="max-width-container15">
                                          <div class="max-width-container16">
                                            <div class="max-width-container17">
                                              <div class="max-width-input">
                                                <label
                                                  for="contact-form-3-name"
                                                  class="max-width-text01 thq-body-small"
                                                >
                                                  Account Number
                                                </label>
                                                <input
                                                  type="number"
                                                  id="AccountNumber"
                                                  placeholder="Display Account Number"
                                                  class="thq-input"
                                                />
                                                <div
                                                  class="max-width-container18"
                                                >
                                                  <label
                                                    for="contact-form-3-name"
                                                    class="max-width-text02 thq-body-small"
                                                  >
                                                    Account Name
                                                  </label>
                                                </div>
                                                <input
                                                  type="text"
                                                  id="AccountName"
                                                  placeholder="Display Account Name"
                                                  class="thq-input"
                                                />
                                                <label
                                                  for="contact-form-3-name"
                                                  class="max-width-text03 thq-body-small"
                                                >
                                                  Registrant's Name
                                                </label>
                                                <input
                                                  type="text"
                                                  id="Regname"
                                                  required="true"
                                                  placeholder="Registrant's Name"
                                                  class="thq-input"
                                                />
                                                <label
                                                  for="contact-form-3-name"
                                                  class="max-width-text04 thq-body-small"
                                                >
                                                  Mobile Number
                                                </label>
                                                <input
                                                  type="number"
                                                  id="contact-form-3-name"
                                                  required="true"
                                                  placeholder="11 Digit Mobile Number"
                                                  class="thq-input"
                                                />
                                                <label
                                                  for="contact-form-3-name"
                                                  class="max-width-text05 thq-body-small"
                                                >
                                                  EMail
                                                </label>
                                                <input
                                                  type="email"
                                                  id="EMail"
                                                  required="true"
                                                  placeholder="EMail Address"
                                                  class="thq-input"
                                                />
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <label
            for="contact-form-3-name"
            class="max-width-text06 thq-body-small"
          >
            Authorization Letter (For Non-Owner)
          </label>
          <button type="button" class="button max-width-button">
            <span>Upload</span>
          </button>
          <label
            for="contact-form-3-name"
            class="max-width-text07 thq-body-small"
          >
            2 Valid I.D. and Selfie with the IDS
          </label>
          <button type="button" class="button max-width-button1">
            <span>Upload</span>
          </button>
          <div class="max-width-checkbox">
            <input
              type="checkbox"
              id="contact-form-3-check"
              checked="true"
              required="true"
              class="thq-checkbox"
            />
            <label
              for="contact-form-3-check"
              class="max-width-text08 thq-body-small"
            >
              <span class="max-width-text09">Data Privacy</span>
              <br />
              <br />
              <span>
                By registering your account, you agree to the Terms of use and
                Privacy Policy.I allow and give consent to KAELCO, Inc. to
                collect, process,use and retain my personal data information
                intended for the availment of KAELCO's e-Services.
              </span>
              <br />
              <br />
              <span>
                I hereby affirm my right to be informed, object to processing
                and rectify, suspend or withdraw my personal data and be
                indemnified in case of damages pursuant to the provisions of RA
                10173 otherwise known as the Data Privacy Act of 2012 and its
                corresponding implementing Rules and Regulations.
              </span>
            </label>
          </div>
          <button type="submit" class="max-width-button2 thq-button-filled">
            <a href="reg-p3.html" class="max-width-action3 thq-body-small">
              <span>Next</span>
            </a>
          </button>
        </form>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
