.reg-form1-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.reg-form1-image1 {
  flex: 1;
  width: 572px;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.reg-form1-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.reg-form1-section-title {
  gap: var(--dl-space-space-unit);
  width: 439px;
  height: 162px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.reg-form1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 409px;
  height: 239px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.reg-form1-text {
  height: 42px;
}
.reg-form1-form {
  height: 201px;
}
.reg-form1-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.reg-form1-button {
  align-self: flex-start;
}
.reg-form1-action1 {
  text-decoration: none;
}

@media(max-width: 991px) {
  .reg-form1-max-width {
    flex-direction: column;
  }
  .reg-form1-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .reg-form1-image1 {
    width: 100%;
  }
  .reg-form1-form {
    height: 494px;
  }
}
@media(max-width: 479px) {
  .reg-form1-text2 {
    font-weight: 600;
  }
}
