.reg-form5-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.reg-form5-image1 {
  flex: 1;
  width: 593px;
  height: auto;
  max-width: 640px;
  border-radius: var(--dl-radius-radius-radius4);
}
.reg-form5-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.reg-form5-section-title {
  gap: var(--dl-space-space-unit);
  height: 85px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.reg-form5-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.reg-form5-text {
  width: 388px;
}
.reg-form5-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.reg-form5-text1 {
  font-weight: 500;
  line-height: 2;
}
@media(max-width: 991px) {
  .reg-form5-max-width {
    flex-direction: column;
  }
  .reg-form5-content {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .reg-form5-image1 {
    width: 100%;
  }
}
